/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc; /* Light background for a calm feel */
    height: 100vh;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

form {
    margin: auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9; /* Light input background */
    transition: border 0.3s ease, background-color 0.3s ease;
    width:100%;
}
.email-field{
    display:flex;
}
input:focus, textarea:focus {
    border: 1px solid #3498db; /* Blue border when focused */
    background-color: #fff;
}

textarea {
    height: 120px;
    resize: none; /* Prevent resizing */
}

button {
    background-color: #3498db; /* Blue background */
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

#email-status {
    font-size: 1.2rem;
    margin-top: 5px;
}

.valid {
    color: #27ae60; /* Green for valid email */
}

.invalid {
    color: #e74c3c; /* Red for invalid email */
}

input[type="file"] {
    padding: 6px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

input[type="file"]:focus {
    border-color: #3498db;
}

@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input, textarea {
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
    }
}
